@media (min-width: 320px) and (max-width: 425px) {
  #checkBoxAndSender13 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    word-wrap: wrap;
  }

  #checkBoxAndSender13 input {
    display: flex;
    flex-direction: row;
    /* font-size: 44px; */
    /* justify-content: flex-start; */
    margin: auto 0px;
  }
  .iconNav13 {
    justify-content: flex-start;
    text-align: left;
  }
  .iconPen13 {
    background-color: #c9321a;
    border-radius: 4px;
    color: white;
    padding: 4px 12px;
    text-align: right;
  }
  .iconRefr13 {
    text-align: left;
    justify-content: flex-start;
  }

  .topTitle {
    overflow: hidden;
  }
  .emailBodyAndStar13 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 100%;
  }
  #emailContent13 {
    max-width: 100%;
  }

  #emailLine13 {
    align-items: center;
    border-bottom: 0.5px solid #e6e6e6;
    cursor: pointer;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0 34px 0 30px; */
    max-width: 100%;
    padding-left: 20px;
    padding-right: 16px;

  }

  #email-list-subject13 {
    display: block;
    flex: 1;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 1.8em;
    max-height: 3.6em;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-align: left;

  }
  .hideOnMobile {
    display: none;
  }
  .iconStar13 {
    float: right;
    padding: 7px 2px 4px;
  }
  #senderName13 {
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
    padding-right: 32px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .topBoxMobile13 {
    color: #333333;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    justify-content: space-around;
    max-width: 100%;
    padding: 0 3px;
  }
}



.bigLeftBox {
    min-width: 248px;
}
#bigRightBox {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid #e6e6e6;
  max-height: 53px;
  height: 53px;
  overflow-y: auto;
  flex:1;
}
#bottomMenuButton {
  color: #333333;
  cursor: pointer;
  padding: 6px 8px 10px;
}

#bottomMenuButton:hover {
  color: black;
}
#chatBottomMenu {
  border-top: 1px solid #e6e6e6;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 248px;
}
.chart {
  color: #666666;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
}

#chatBubble {
  height: 80px;
  object-fit: contain;
  width: 72px;
}

#chatMenu {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#chatUser {
  height: 28px;
  width: 28px;
}

#chatUserContainer {
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 26px;
  padding-bottom: 8px;
}

#chatPlus {
  font-size: 16px;
}
#checkBoxAndSender {
  display: flex;
  flex-direction: row;
}

#checkBoxAndSender input {
  margin: auto 0px;
  font-size: 44px;
}
#detailsSenderName {
  color: #202124;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}



#emailContentBox {
  margin: auto;
  font-size: 14px;
  color: rgb(0,0,0,0.87);
  font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
  width: 500px;
  height: 327px;
  border-style: solid;
  border-width: thin;
  border-color: #dadce0;
  border-radius: 8px;
  padding: 40px 20px;
}


#email-list-subject {
  font-size: 14px;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  text-align: left;
  white-space: nowrap;
  flex: 1;
  display: flex;
  flex-direction: row;
}


#favoriteUn {
  font-size: 17px;
  color: darkgray;
  margin: auto 10px auto 15px;
}
#leftDropMenu {
  width: 256px;
  color: #202124;
  font-size: 14px;
  font: roboto;
}



#newer {
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}


#newer:hover {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;

}



#keyboard {
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#keyboard:hover {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
}
#older {
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
#moreoptions {
  border-radius: 20px;
  width: 40px;
  padding-top: 10px;
  cursor: pointer;
  height: 40px;
}

#moreoptions:hover {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
#older:hover {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
#settings {
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  justify-content: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

#settings:hover {
  height: 40px;
  width: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.showOnMobile {
  display: hide;
}
.topBox {
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #e6e6e6;
  margin: 0px -8px 8px -8px;;
  padding: 8px;
}

#wholeBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

.gmailpng {
  width: 109px;
  height: 40px;
}

#header {
  color: #666666;
  font-weight: 500;
  font-size: 16px;
}

#placeholderContainer {
  height: 265px;
  margin: 80px auto auto auto;
  max-width: 550px;
}

#blurb {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 0px;
}
#emptyEmailPlaceholder {
  flex: 1;
}
#favorite {
  align-content: center;
  align-items: center;
  width: 40px;
  cursor: pointer;
  padding-top: 10px;
}

#favorite:hover {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
#header {
  margin-bottom: 8px;
}

#placeholderContainer div {
  text-align: left;
}

#replyreply {
  border-radius: 20px;
  width: 40px;
  cursor: pointer;
  width: 40px;
  padding-top: 10px;
}

#replyreply:hover {
  background-color: #f2f2f2;;
  border-radius: 20px;
  height: 40px;
  width: 40px;

}

#senderLine {
  color: #5F6368;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

#senderLineLeft {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#senderLineContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#senderPhoto {
  height: 32px;
  margin: 0px 16px;
  width: 32px;
}
#tabSettings {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 0px;
}

#tabSettings a {
  cursor: pointer;
}

#topHeading {
  width: 100%;
  max-height: 56px;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-bottom: 0px;
  border-bottom: 0.5px solid #e6e6e6;
}

#topKey {
  font-size: 14px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  align-items: center;
  max-width: 30%;
  padding: 16px;
  padding-bottom: 0px;
  flex: 1;
  cursor: pointer;
}

#topKeyInside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#topKeyInside span {
  margin-right: 16px;
}

#topKeyInside div {
  font-size: 14px;
  font-weight: 500;
}

#topKey:hover {
  background-color:#f2f2f2;
}


#allEmails {
  flex: 1;
  overflow: scroll;

}

#rightSubjectLineItem {
  align-items: center;
  border-radius: 13px;
  color: rgb(102,102,102);
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 40px;
}

#rightSubjectLineItem:hover {
  background-color: #f2f2f2;
}
#senderEmail {
  align-items: center;
  color:#555555;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}
#senderDetailsTop {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#toMe {
  color: #5F6368;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

#receivedDate {
  /* color:#202124; */
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 12px;
  min-width: 100px;
  padding: 10px 0px;
  padding-left: 32px;
  text-align: right;
}

#recoverYourAccount {
  padding: 40px 20px;
}

#unnamed {
  height: 33px;
  margin-top: 16px;
  width: 33px;
}

#h3 {
  color:rgba(0,0,0,0.87);
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#googleLogo {
  width: 95px;
  align-content: center;
  margin: auto;
}

#myicon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border-color: white;

    /* padding: 0px 0px 24px; */
}

#usericon {
  border-bottom: 1px solid gray;
  padding-bottom: 24px;
  padding-top: 20px;
}

#googleAddress {
  align-content: center;
  width: 500px;
  margin: auto;
}

#inbox {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 18px 7px 26px;
  width: 240px;
  text-align: left;
}

#inbox:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#inboximage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#starred {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}

#starred:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#starredimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#snoozed {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #202124;
  cursor: pointer;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}

#snoozedimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#snoozed:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#sent {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  color: #202124;
  cursor: pointer;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}

#sentimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#sent:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#drafts {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  width: 240px;
  text-align: left;
}

#draftsimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#drafts:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#important {
  padding: 0px 12px 4px 26px;
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  text-align: left;
  width: 240px;
}

#importantimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#important:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#chats {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  width: 240px;
  text-align: left;
}

#chatsimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#chats:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#allmail {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}

#allmailimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#allmail:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#spam {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}

#spamimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#spam:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#trash {
  color: #202124;
  cursor: pointer;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 0px 12px 4px 26px;
  text-align: left;
  width: 240px;
}


#trashimage {
  height: 23px;
  margin: 0px 18px 7px 0px;
  width: 23px;
}

#trash:hover {
  background-color: #f2f2f2;
  border-radius: 17px;
  height: 28px;
  width: 240px;
}

#noRecentChatBottom {
  margin: auto;
  width: 217px;
}

#norecentchat {
  height: 72px;
  /* margin-top: 30px; */
  margin: auto;
  width: 72px;
}

#NO {
  color: #1155CC;
  cursor: pointer;
  font-size: 13px;
}

#NRC {
  color: #737373;
  font-size: 13px;
}

#emailSubjectContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100vh;
  overflow: scroll;
  padding-bottom: 75px;
}

#senderName {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-right: 32px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 168px;
}

#subjectLine {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: space-between;
  padding: 20px 8px 8px 64px;
}

#subject {
  align-items: center;
  color: #202124;
  font-size: 22px;
  padding-right: 10px;
}

#leftSubjectLine {
  display: flex;
  flex-direction: row;
}

#rightSubjectLine {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#inboxTag {
  color: #666666;
  font-size: 12px;
  margin-right: 3px;
}

#inboxTagContainer {
  align-items: center;
  background: #dddddd;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-height: 18px;
  padding: 5px;
}

#inboxX {
  color: darkgray;
  font-size: 9px;
}

#emailLine {
  align-items: center;
  border-bottom: 0.5px solid #e6e6e6;
  cursor: pointer;
  display: flex;
  flex-direction: "row";
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 16px;
}

#replyButton {
  align-items: center;
  background: none;
  border: 1px solid #f2f2f2;height: 36px;
  border-radius: 4px;
  color: #5f6368;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: .25px;
  margin: 0px 12px 0px 0px;
  padding: 0px 16px 0px 12px;
  position: relative;
  width: 104px;
}

#replyButton:hover {
  background-color:#f2f2f2;
}

#forwardButton {
  align-items: center;
  background: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 36px;
  letter-spacing: .25px;
  margin: 0px 12px 0px 0px;
  padding: 0px 16px 0px 12px;
  position: relative;
  width: 104px;

}

#forwardButton:hover {
  background-color:#f2f2f2;
}

#bottomButton {
  display: flex;
  flex-direction: row;
  height: 36px;
  padding-top: 36px;
  width: 284px;
}

#emailFooter {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#emailFooterPiece {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerLink {
  color: #666666;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

#footerStatement {
  color: #666666;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

#footerLinks a {
  margin: 0px 5px;
}

.searchContainer {
  align-items: center;
  background: rgba(0,0,0,0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 46px;
  max-width: 722px;
  flex: 1;
}

.searchContainer div {
  color: #666666;
  font-size: 17px;
  margin: 4px;
  padding: 7px;
}

.searchContainer input {
  background: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 16px 11px 2px;
  width: 100%;
}

.initialCircle {
  background: pink;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  height: 33px;
  margin: 8px;
  width: 33px;
}

.rightHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
}


.middleHeader {
  flex: 1;
}

#composeButton {
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  height: 48px;
  margin: 16px 0px;
  padding-left: 8px;
  width: 145px;
}

#composePlus {
  align-items: center;
  justify-content: center;
  min-width: 44px;
}

#composeText {
  align-items: center;
  padding: 0 24px 0 0;
}

#menuItems {
  border-bottom: 2px solid #e6e6e6;
  height: 212px;
  overflow: scroll;
}

#photoAndName {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#menuItem {
  align-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  color: #202124;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  padding: 5px 0px 5px 26px;
  text-align: left;
}

#menuItem:hover {
  background: rgba(102,102,102,0.10);
}

#menuItemImage {
  color: rgb(102,102,102);
  font-size: 18px;
  margin-right: 18px;
}

#titleOptions {
  align-items: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

/* INSIDE INBOX MAIL */
.topHeadingIcons {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
}

.topHeadingItem {
  align-content: left;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

.topHeadingItem:hover {
  background-color: #f2f2f2eb;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.topHeadingRightAlign {
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  justify-content: flex-end;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  width: 40px;
}

.topHeadingRightAlign:hover {
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
