#bigRightBox {
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #e6e6e6;
    max-height: 53px;
    height: 53px;
    overflow-y: auto;
    flex:1;
}

#leftDropMenu {
    width: 256px;
    color: #202124;
    font-size: 14px;
    font: roboto;
}

/* INSIDE INBOX MAIL */
#topHeadingIcons {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

#topHeadingItem {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    align-content: left;
    cursor: pointer;
    /* color: red; */
}

#topHeadingItem:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2eb;
    border-radius: 20px;
}

#topHeadingRightAlign {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
} 

#topHeadingRightAlign:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#moreoptions {
    border-radius: 20px;
    width: 40px;
    cursor: pointer;
}

#titleOptions {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 100%;
}

#newer {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    justify-content: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}


#newer:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    
}

#older {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    justify-content: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#older:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#keyboard {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#keyboard:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
}

#settings {
    height: 40px;
    width: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    justify-content: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

#settings:hover {
    height: 40px;
    width: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

#TopBox {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #e6e6e6;
    margin: 0px -8px 8px -8px;;
    padding: 8px;
}

#wholeBox {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100vw;
} 

#gmailpng {
    width: 109px;
    height: 40px;
}

#header {
    color: #666666;
    font-weight: 500;
    font-size: 16px;
}

#emptyEmailPlaceholder {
    flex: 1;
}

#placeholderContainer {
    height: 265px;
    margin: 80px auto auto auto;
    max-width: 550px;
}

#placeholderContainer div {
    text-align: left;
}

#header {
    margin-bottom: 8px;
}

#blurb {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 0px;
}

#tabSettings {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 0px;
}

#tabSettings a {
    cursor: pointer;
}

#topHeading {
    width: 100%;
    max-height: 56px;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 0px;
    border-bottom: 0.5px solid #e6e6e6;
}

#topKey {
    font-size: 14px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    align-items: center;
    max-width: 30%;
    padding: 16px;
    padding-bottom: 0px;
    flex: 1;
    cursor: pointer;
}

#topKeyInside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#topKeyInside span {
    margin-right: 16px;
}

#topKeyInside div {
    font-size: 14px;
    font-weight: 500;
}

#topKey:hover {
    background-color:#f2f2f2;
}

#senderLine {
    color: #5F6368;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#senderLineLeft {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#senderLineContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#senderPhoto {
    height: 32px;
    width: 32px;
    margin: 0px 16px;
}

#favorite {
    align-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
}

#favorite:hover {
    background-color: #f2f2f2;
    border-radius: 20px;
}

#replyreply {
    border-radius: 20px;
    width: 40px;
    cursor: pointer;
}

#replyreply:hover {
    background-color: #f2f2f2;;
}

#allEmails {
    overflow: scroll;
    flex: 1;
}

#rightSubjectLineItem {
    align-items: center;
    color: rgb(102,102,102);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 13px;
    width: 40px;
}

#rightSubjectLineItem:hover {
    background-color: #f2f2f2;
}

#senderName {
    /* color:#202124; */
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#senderEmail {
    align-items: center;
    color:#555555;
    font-size: 12px;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
}

#detailsSenderName {
    color: #202124;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

#senderDetailsTop {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#toMe {
    color: #5F6368;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

#receivedDate {
    /* color:#202124; */
    font-size: 12px;
    padding: 10px 0px;
    padding-left: 32px;
    text-align: right;
    min-width: 100px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#checkBoxAndSender {
    display: flex;
    flex-direction: row;
}

#checkBoxAndSender input {
    margin: auto 0px;
    font-size: 44px;
}

#favoriteUn {
    font-size: 17px;
    color: darkgray;
    margin: auto 10px auto 15px;
}

#bigLeftBox {
    min-width: 248px;
}

#emailContent {

}

#emailContentBox {
    margin: auto;
    font-size: 14px;
    color: rgb(0,0,0,0.87);
    font-family: Roboto-Regular,Helvetica,Arial,sans-serif;
    width: 500px;
    height: 327px;
    border-style: solid;
    border-width: thin;
    border-color: #dadce0;
    border-radius: 8px;
    padding: 40px 20px;
}

#recoverYourAccount {
    padding: 40px 20px;
}

#unnamed {
    width: 33px;
    height: 33px;
    margin-top: 16px;
}

#h3 {
    color:rgba(0,0,0,0.87);
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#googleLogo {
    width: 95px;
    align-content: center;
    margin: auto;
}

#myicon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-color: white;

    /* padding: 0px 0px 24px; */
}

#usericon {
    border-bottom: 1px solid gray;
    padding-bottom: 24px;
    padding-top: 20px;
}

#googleAddress {
    width: 500px;
    margin: auto;
    align-content: center;
}

#inbox {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 18px 7px 26px;
    cursor: pointer;
}

#inbox:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}



#inboximage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#starred {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#starred:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#starredimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}


#snoozed {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#snoozedimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#snoozed:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#sent {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#sentimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#sent:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#drafts {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#draftsimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#drafts:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#important {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#importantimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#important:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#chats {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#chatsimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#chats:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#allmail {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#allmailimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#allmail:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#spam {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}

#spamimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#spam:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#trash {
    width: 240px;
    height: 28px;
    font-size: 14px;
    color: #202124;
    text-align: left;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    padding: 0px 12px 4px 26px;
    cursor: pointer;
}


#trashimage {
    width: 23px;
    height: 23px;
    margin: 0px 18px 7px 0px;
}

#trash:hover {
    background-color: #f2f2f2;
    width: 240px;
    height: 28px;
    border-radius: 17px;
}

#noRecentChatBottom {
    margin: auto;
    width: 217px;
}

#norecentchat {
    width: 72px;
    height: 72px;
    /* margin-top: 30px; */
    margin: auto;
}

#NO {
    color: #1155CC;
    font-size: 13px;
    cursor: pointer;
}

#NRC {
    color: #737373;
    font-size: 13px;
}

#emailSubjectContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100vh;
    padding-bottom: 75px;
    overflow: scroll;
}

#senderName {
    width: 168px;
    padding-right: 32px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#subjectLine {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding: 20px 8px 8px 64px;
    justify-content: space-between;
}

#subject {
    align-items: center;
    color: #202124;
    font-size: 22px;
    padding-right: 10px;
}

#leftSubjectLine {
    display: flex;
    flex-direction: row;
}

#rightSubjectLine {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#inboxTag {
    color: #666666;
    font-size: 12px;
    margin-right: 3px;
}

#inboxTagContainer {
    align-items: center;
    background: #dddddd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-height: 18px;
    padding: 5px;
}

#inboxX {
    color: darkgray;
    font-size: 9px;
}

#emailLine {
    align-items: center;
    border-bottom: 0.5px solid #e6e6e6;
    display: flex;
    flex-direction: "row";
    padding-left: 20px;
    padding-right: 16px;
    justify-content: space-between;
    cursor: pointer;
}

#replyButton {
    width: 104px;
    height: 36px;
    margin: 0px 12px 0px 0px;
    padding: 0px 16px 0px 12px;
    align-items: center;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    position: relative;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    color: #5f6368;
    flex-direction: row;
}

#replyButton:hover {
    background-color:#f2f2f2;
}

#forwardButton {
    width: 104px;
    height: 36px;
    margin: 0px 12px 0px 0px;
    padding: 0px 16px 0px 12px;
    align-items: center;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    position: relative;
    letter-spacing: .25px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    color: #5f6368;
    flex-direction: row;
}

#forwardButton:hover {
    background-color:#f2f2f2;
}

#bottomButton {
    height: 36px; 
    width: 284px;
    display: flex;
    flex-direction: row;
    padding-top: 36px;
}

#emailFooter {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#emailFooterPiece {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerLink {
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

#footerStatement {
    color: #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
}

#footerLinks a {
    margin: 0px 5px;
}

#searchContainer {
    align-items: center;
    background: rgba(0,0,0,0.04);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 46px;
    max-width: 722px;
    flex: 1;
}

#searchContainer div {
    color: #666666;
    font-size: 17px;
    margin: 4px;
    padding: 7px;
}

#searchContainer input {
    background: transparent;
    border: none;
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    padding: 11px 16px 11px 2px;
    width: 100%;
}

#initialCircle {
    background: pink;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    height: 33px;
    margin: 8px;
    width: 33px;
}

#rightHeader {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#chart {
    color: #666666;
    cursor: pointer;
    font-size: 20px;
    padding: 8px;
}

#middleHeader {
    flex: 1;
}

#composeButton {
    align-items: center;
    margin: 16px 0px;
    padding-left: 8px;
    height: 48px;
    display: flex;
    flex-direction: row;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    width: 145px;
}

#composePlus {
    min-width: 44px;
    justify-content: center;
    align-items: center;
}

#composeText {
    padding: 0 24px 0 0;
    align-items: center;
}

#menuItems {
    height: 212px;
    border-bottom: 2px solid #e6e6e6;
    overflow: scroll;
}

#chatMenu {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#chatUser {
    height: 28px;
    width: 28px;
}

#chatUserContainer {
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 26px;
    padding-bottom: 8px;
}

#photoAndName {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#chatPlus {
    font-size: 16px;
}

#chatBubble {
    height: 80px;
    object-fit: contain;
    width: 72px;
}

#chatBottomMenu {
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 248px;
}

#bottomMenuButton {
    color: #333333;
    cursor: pointer;
    padding: 6px 8px 10px;
}

#bottomMenuButton:hover {
    color: black;
}

#menuItem {
    align-items: center;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #202124;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    text-align: left;
    padding: 5px 0px 5px 26px;
    cursor: pointer;
}

#menuItem:hover {
    background: rgba(102,102,102,0.10);
}

#menuItemImage {
    color: rgb(102,102,102);
    font-size: 18px;
    margin-right: 18px;
}

#email-list-subject {
    font-size: 14px;    
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    text-align: left;
    white-space: nowrap;
    flex: 1;
    display: flex;
    flex-direction: row;
}