#bigContainer {
    font-family: 'Google Sans',arial,sans-serif;
    margin: auto;
    border: 1px solid #E0E0E0;
    width: 448px;
    height: 500px; 
}

#googleLogo {
    width: 74px;
    height: 37px;
}

#findYourEmail {
    font-size: 24px;
    color: #202124;
}

#enterYPNORE {
    font-size: 16px;
    color: #202124;
}

#next {
    width: 88px;
    height: 36px;
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    padding-top: 9px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}









