#entireSignUpBox {
    font-family: 'Google Sans',arial,sans-serif;
    width: 748px;
    height: 538px;
    margin: auto;
    margin-top: 12vh;
    padding: 48px 40px 36px;
    display: flex;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
}

#fillInTheBlank {
    width:448px;
}

#rightBox {
    width: 300px;
    display: flex;
    padding-left: 48px;
    justify-content: center;
}

#imageContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#imageLogo {
    margin-left: -15px;
    margin-top: -10px;
    width: 110px;
    object-fit: contain;
}

#accountImage {
    height: 244px;
    width: 244px;
    object-fit: contain;
    align-content: center;
    /* padding-top: 40px; */
}


#explanationUnderImage {
    font-size: 16px;
    color: #202124;
}
    
#googlelogo {
    width: auto;
    height: 37px;
    display:flex;
    flex-direction: row;
}



#createYourGoogleAccount {
    font-size: 24px;
    font-weight: 400;
    color: #202124;
    width: 100%;
    padding-top: 11px;
    height: 48px;
    text-align: left;
}

#toContinueToGmail {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 32px;
    color: #202124;
    padding-bottom: 24px;
    text-align: left;
    cursor: pointer;
}

#nameInput {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#allInputs {
    padding-top: 24px;
    width: 368px;
}

#firstNameInput {
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    height: 34px;
    padding: 7px 11px;
    width: 174px;
}

#lastNameInput {
    font-size: 14px;
    border: 1px solid #e6e6e6;
    height: 34px;
    border-radius: 4px;
    padding: 7px 11px;
    width: 174px;
}

#username {
    display: flex;
    flex-direction: row;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

#usernameInput {
    width: 270px;
    height: 34px;
    border: none;
    display: flex;
    flex-direction: row;
    padding: 7px 11px;
}

#endGmailContainer {
    flex: 1;
}

#gmailDotCom {
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 0px;
}

#userNameInstruction {
    color: black;
    font-size: 12px;
    margin-top: 5px;
    width: 100%;
    height: 24px;
    display: flex;
}

#pwpw {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

#pw {
    font-size: 14px;
    border: 1px solid #e6e6e6;
    height: 34px;
    border-radius: 4px;
    padding: 7px 11px;
    width: 150px;
}

#eyeball {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

#passwordConfirm {
    font-size: 14px;
    border: 1px solid #e6e6e6;
    height: 34px;
    border-radius: 4px;
    padding: 7px 11px;
    width: 150px;
}

#pwInstruction {
    color: #202124;
    width: 320px;
    height: 17px;
    font-size: 12px;
    text-align: left;
    padding-top: 8px;
}

#signInAndNext {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

#signInInstead {
    font: 14px;
    color: #1A73E8;
    margin-top: 8px;
    padding-top: 8px;
    width: 70%; /* 여기 */
    height: 48px;
    font-weight: bold;
    display: flex;
    text-align: left;
    cursor: pointer;
}

#next {
    width: 88px;
    height: 36px;
    font: 14px;
    color: white;
    background-color: #1A73E8;
    font-weight: bold 500px;
    border-radius: 4px;
    display: inline-block;
}
#next:hover { /* 여기 */
    background-color: #4285f4;
}

#signUpBoxHelp {
    color: #202124;
    display: flex;
    flex-direction: row;
    width: 748px;
    justify-content: space-between;
    margin: auto;
    margin-top: 24px;
    font-family: 'Google Sans',arial,sans-serif;
}

#signUpHelpRight {
    display: flex;
    flex-direction: row;
    margin-right: -16px;
}

#one {
    color: #757575;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#languageBox {
    background-color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding-right: 26px;
    padding-bottom: 8px;
    padding-top: 8px;
}

#languageBox:hover {
    background-color: #eeeeee;
}








