#bigContainer {
    font-family: 'Google Sans',arial,sans-serif;
    margin: auto;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-top: 16vh;
    width: 448px;
    height: 500px; 
}

#googlelogo {
    width: 100%;
    height: 37px;
    margin: auto;
}

#signInBox {
    width: 448px;
    height: 500px;
    padding: 48px 40px 36px 40px;
}

#signIn {
    color: #202124;
    margin: auto;
    font-size: 24px;
    padding-top: 16px;
}

#toContinuetoGmail {
    color: #202124;
    width: 145px;
    height: 16px;
    font-size: 16px;
    margin: auto;
    padding-bottom: 24px;
    padding-top: 8px;
}

#signInInput {
    width: 366px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 32px;
    padding: 13px 15px;
}

#forgotEmail {
    font-size: 14px;
    color: #1A73E8;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    width: 100px;
}

#guestMode {
    font-size: 14px;
    color: #5F6363;
    text-align: left;
    padding-top: 35px;
}

#learnMore {
    color: #1a73e8;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

#createAccountNext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-bottom: 20px; */
    padding-top: 30px;
}

#next {
    width: 88px;
    height: 36px;
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    padding-top: 9px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}

#createAccount {
    width: 204px;
    height: 20px;
    color: #1A73E8;
    margin-top: 8px; 
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

#Help {
    font-family: 'Google Sans',arial,sans-serif;
    width: 448px;
    margin: auto;
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: #757575;
    font-weight: bold;
}

#leftBox {
    color: #202124;
    font-size: 12px;
    font-weight: normal;
    padding-top: 6px;
    padding-bottom: 6px;
}

#rightBoxButtons {
    color: #757575;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

#rbButton {
    color: #757575;
    padding: 6px 16px;
}

#row {
    padding-top: 25px;
    width: "100%";
}
